.footer {
    border-top: 1px solid #cfcfcf;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-top div:first-child {
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: center;
}

.footer-top > .search-input > input {
    width: 300px;
}

.footer-top > .search-input {
    width: 300px;
}

.footer-top > .search-input > .input-label {
    bottom: 18px;
}
