.product-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-list-header h1 {
    font-size: 40px;
}

.viewAllButton button {
    background-color: transparent;
    color: #a79172;
    cursor: pointer;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-bottom: 200px;
}

.product-list-container > .product-list > .product-card > .card-content > img {
    width: 465px;
    height: 465px;
}
