.product-card .background {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
}

.content p:last-child {
    color: #a79172;
    margin-top: 0;
}

.content p {
    margin-bottom: 5px;
}

.product-card div:first-child {
    align-self: center;
}

.product-card {
    width: fit-content;
}

.content {
    height: fit-content;
}

#badge {
    position: absolute;
    left: 15px;
    top: 15px;
    width: fit-content;
    height: fit-content;
    font-size: 17px;
    background-color: #a18a68;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
}

.onHover {
    opacity: 0;
    transition: 0.5s;
    display: flex;
    gap: 30px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.onHover:hover {
    opacity: 1;
    background-color: #ffffff94;
}
